body {
  background: rgb(59, 58, 58);
  font-family: 'Lucida Console', monospace;
  text-align: center;
}

h1 {
  padding-top: 3vw;
  font-size: 4em;
  white-space: nowrap;
  display: center;
  color: white;
}

h2 {
  color: white;
  padding: 1vw;
}

button {
  font-size: 38px;
  display: block;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  padding: 10px;
}